@model Trip
@{
    ViewBag.Title = "Things To Do";
}

<h2 class="display-4 mb-4 text-center">@ViewBag.Title</h2>

<form asp-action="Add3" method="post">
    <div>
        <div id="toDoContainer" class="mb-2"></div>
        <button 
        type="button"
        class="btn btn-outline-warning mb-2"
        id="addToDo">
            Add
        </button>
    </div>

    <button 
    class="btn btn-outline-primary"
    type="submit">
        Submit
    </button>

    <a
    asp-controller="Home"
    asp-action="Index"
    class="btn btn-outline-secondary">
        Cancel
    </a>
</form>


@section Scripts 
{
    <script>
        $(function () 
        {
            $('#addToDo').click(function () 
            {
                $('#toDoContainer').append('<div><input type="text" name="ThingsToDo" /><button type="button" class="removeToDo btn btn-outline-danger ms-2"">Remove</button></div>');
            });

            $(document).on('click', '.removeToDo', function () 
            {
                $(this).parent().remove();
            });
        });
    </script>
}