@model Trip

<form asp-action="Add3" method="post">
    <h2>Things to Do</h2>
    <div>
        <label for="toDo">@Html.DisplayNameFor(model => model.ThingsToDo):</label>
        <button
        type="button"
        class="btn btn-outline-primary"
        id="addToDo">
            Add
        </button>
        <div id="toDoContainer"></div>
    </div>

    <button 
    class="btn btn-outline-primary"
    type="submit">
        Submit
    </button>

    <a
    asp-controller="Home"
    asp-action="Index"
    class="btn btn-outline-secondary">
        Cancel
    </a>
</form>


@section Scripts 
{
    <script>
        $(function () 
        {
            $('#addToDo').click(function () 
            {
                $('#toDoContainer').append('<div><input type="text" name="ThingsToDo" /><button type="button" class="removeToDo btn btn-outline-warning"">Remove</button></div>');
            });

            $(document).on('click', '.removeToDo', function () 
            {
                $(this).parent().remove();
            });
        });
    </script>
}